/* 

 >>>IMPORTANTE<<< 
  - Flex
  - Posicionamiento  -> Sustitucion de FLOAT
  - Media queries


  Hoy: Flex,  Repaso posicionamiento


*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2 {
  margin: 0;
}

#padre {
  background-color: lightblue;
  padding: 20px;
  /* Esto funciona como float, pero mejor */
  display: flex;

  /* Margin a los hijos */
  gap: 10px;
}

.hijo {
  /* height: 100px; */
  width: 33.33%;
  border: 1px solid white;
  background-color: coral;
  /* Es posible poner margin con flex a los hijos */
}

#uno {
  background-color: lightpink;
  padding: 20px;
  display: flex;
  /* Cuando no quepan -> Los lleva a una segunda linea */
  flex-wrap: wrap;

  /*   Direccion Principal (por defecto es row)
     -> Direccion Secundaria va a ser la perpendicular ( por defecto column)
 */
  flex-direction: row;

  /* Comportamiento en la dirección principal */
  justify-content: center;

  /* Comportamiento en la direccion secundaria */
  align-items: center;
}

.uno_hijo {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  border: 3px solid white;
}

#dos {
  height: 500px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;

  /* Comp. en la direccion principal -> Column */
  justify-content: center;

  /* Comp. en la direccion secundaria -> ROW */
  align-items: center;
}

.dos_hijo {
  height: 50px;
  width: 50px;
  background-color: rgb(72, 170, 72);
}

.icon_notification {
  font-size: 3rem;

  /* Padre -> Relativo ( Distincto de STATIC)
     Ref vertical y horizontal  
  */
  position: absolute;
  top: -30px;
  right: 0;
}

@media (min-width: 400px) and (max-width: 570px) {
  #padre {
    flex-wrap: wrap;
  }

  .hijo {
    width: 100%;
  }
}
