* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#fila-cuadrado {
  background-color: lightblue;
  border: 2px solid black;
  padding: 10px;
  overflow: hidden;
}

.cuadrado {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  float: left;
  margin: 20px;
}

#fila-aside {
  background-color: lightpink;
  padding: 10px;
  overflow: hidden;
}

/* Selector hijo */
#fila-aside .contenido {
  width: 80%;
  height: 200px;
  background-color: lightsteelblue;
  float: left;
}

#fila-aside aside {
  width: 20%;
  height: 200px;
  float: left;
  background-color: lightseagreen;
}

/* Selector hermano */
h3 + p {
  color: blue;
}

/* Los spans que estan dentro de un <p> que sea hermano directo de <h3> */
h3 + p span {
  font-size: 30px;
  color: purple;
}

.casilla {
  height: 100px;
  width: 100px;
  background-color: bisque;
  float: left;
}

.casilla:first-child,
.casilla:last-child {
  background-color: brown;
}

.casilla:nth-child(2n):hover {
  background-color: black;
}
