*{
    box-sizing: border-box;
}

body{
    margin: 0; height: 675vh;
}

.awesome_app1{
    background-image: url('imagehtml.jpg');
    width: 100%;
    height: 97.3vh;
    background-size: cover;
}

.first-box{
    background-color: blue;
    width: 70%;
    height: 20%;
}
