* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#uno {
  background-color: lightblue;
  padding: 10px;
}

#dos {
  background-color: lightgreen;
  padding: 10px;
  overflow: hidden;
}

.columna50 {
  width: 50%;
  aspect-ratio: 2/1;
  background-color: pink;
  float: left;
}

.columna50:first-child {
  background-color: lightsalmon;
}

h2 {
  background-color: purple;
}

.clearfloat {
  clear: both;
}

.columna {
  column-count: 4;
  column-gap: 15px;
  column-rule-width: 2px;
  column-rule-color: black;
}
