* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 390vh;
}

.awesome_app1 {
  background-image: url('imagehtml.jpg');
  width: 100%;
  /* height: 97.3vh; */
  height: 55.4vh;
  background-size: cover;
}

.nave {
  padding-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.first-box {
  height: 70px;
  /* margin-left: 592px;
  margin-right: 592px; */
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.title-logo {
  background-image: url('logohtml.png');
  height: 100%;
  background-size: 50px;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
  width: 50px;
  margin-right: 20px;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif, Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.box-end {
  /* margin-left: 450px; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-grow: 1;
  justify-content: end;
}

.circle {
  width: 127px;
  height: 45px;
  border: 2px solid white;
  border-radius: 30px;
}

.circle:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.title-end {
  /* margin: 18px; */
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.content {
  text-align: center;
  position: relative;
  top: 15px;
  margin: 0 19px;
}
.content2 {
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 15px;
}

.second-box {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  /* background-color: blue; */
  height: 600px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.second-title {
  font-family: 'Dosis', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
  /* margin-top: 30px;
  margin-bottom: 30px; */
}
.row1 {
  color: white;
  padding: 15px;
}
.row2 {
  background-image: url('1.jpeg');
  background-size: 450px;
  width: 64%;
  background-repeat: no-repeat;
  height: 100%;
}
.second-p {
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.para {
  padding: 8px;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

.circle2 {
  width: 148px;
  height: 45px;
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 50px;
}

.circle2:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.para2 {
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  position: relative;
  top: 13px;
  left: 18px;
}

.third-box {
  max-width: 1140px;
  height: 500px;
  margin: auto;
  padding: 70px 0;
}

h4 {
  font-family: 'Dosis', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
  font-size: 21.4px;
  margin: 30px 0 0;
  padding: 0 0 24px;
}

.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description {
  width: 33.3333%;
  padding: 20px;
  display: flex;
}

.description-2 {
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  color: rgb(120, 119, 119);
}

.custom-icon.material-symbols-outlined {
  font-size: 64px;
}

.icon {
  display: flex;
  margin-top: 24px;
  margin-right: 50px;
  font-size: 3rem;
  color: orangered;
}

.bro {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: #f1eae0;
  margin-top: 45px;
}

.fourth-box {
  max-width: 1140px;
  margin: auto;

  height: 500px;
  padding: 70px 0;
}

.column1 {
  width: 40%;
  background-image: url('2.jpeg');
  background-repeat: no-repeat;
  background-size: 420px;
  margin-left: 100px;
}

.column2 {
  width: 60%;
  color: rgb(71, 71, 71);
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 15px;
}

h2 {
  font-size: 39.2px;
  font-family: 'Dosis', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
  color: black;
}

.paragraph {
  padding: 48px 0px 4px;
  color: rgb(71, 71, 71);
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
}

.fifth-box-colour {
  width: 100%;
  min-height: 800px;
  background-color: #f5fafd;
  padding: 70px 0;
}

.fifth-box {
  max-width: 1140px;
  margin: auto;
  min-height: 800px;
}

.title-fifth {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  text-align: center;
}

.pp {
  text-align: center;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  padding: 0 0 48px;
  color: #66615b;
}

.imagery {
  background-image: url('5.jpeg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.sixth-box {
  max-width: 1140px;
  min-height: 800px;
  margin: auto;
  padding: 70px 0;
}

.box {
  width: 25%;
  height: 550px;

  padding: 0 15px;
}
.card {
  text-align: center;
  box-shadow: #d2d2d2 0px 0px 5px;
  border-radius: 15px;
  position: relative;
  bottom: 0;
  transition: all 0.25s;
  overflow: hidden;
}

.card:hover {
  position: relative;
  bottom: 10px;
  box-shadow: 0 7px 7px #c1bebe;
}

.column-2 {
  font-size: 38px;
  font-family: 'Dosis', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
  padding: 25px 5px;
}

.column-1 {
  font-size: 18.9px;
  font-family: 'Dosis', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
  line-height: 3.4em;
  background-color: #f5fafd;
  height: 65px;
}
.columnas-1 {
  background-color: #f5fafd;
  color: #6c757d;
  height: 400px;
}
.columnas-2 {
  line-height: 3;
  border-bottom: 1px dashed #eee;
}

span {
  font-size: 22.4px;
}

.column-3 {
  padding-top: 70px;
  font-size: 13.5px;
}

.circle-3 {
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 2;
  cursor: pointer;
  width: 127px;
  height: 45px;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 30px;
  color: #66615b;
  margin-top: 25px;
  margin-left: 60px;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
}

.backgrnd {
  background: linear-gradient(270deg, #f7395f 0%, #fe702e 100%);
  color: white;
}

.circle-4 {
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 2;
  cursor: pointer;
  width: 129px;
  height: 47px;
  border: 2px solid rgb(254, 254, 254);
  border-radius: 30px;
  margin-top: 25px;
  margin-left: 60px;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
}

.bro-2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: #f1eae0;
  margin-top: 90px;
}

.seventh-box {
  max-width: 1140px;
  margin: auto;
  padding: 70px 0;
  min-height: 800px;
}

.seventh-columns {
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 15%) 0px 6px 10px -4px;
  min-height: 300px;
  padding: 32px;
  background-color: #f5fafd;
}

.para-seven {
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  color: #66615b;
  line-height: 1.5em;
}

.row-pt2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
}

.imagen {
  border-radius: 100%;
  width: 96px;
  height: 100px;
  background-size: cover;
  background-image: url('user1.jpeg');
  position: relative;
  top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.imagen2 {
  background-image: url('user2.jpeg');
  border-radius: 100%;
  width: 96px;
  height: 100px;
  background-size: cover;
  position: relative;
  top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.imagen3 {
  background-image: url('user3.jpeg');
  border-radius: 100%;
  width: 96px;
  height: 100px;
  background-size: cover;
  position: relative;
  top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.col-de7 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

h5 {
  font-size: 17.5px;
  line-height: 1.4em;
  color: #111111;
  font-family: 'Dosis', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
}

.ceo {
  font-size: 13.3px;
  margin-bottom: 5px;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  color: #6c757d;
}

.space-7 {
  width: 33.3333%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.octava-caja {
  width: 100%;
  padding: 70px 0;
  min-height: 400px;
  background: linear-gradient(270deg, #f7395f 0%, #fe702e 100%);
}

.last-box {
  width: 100%;
  background-color: #252422;
  min-height: 200px;
}

h3 {
  color: white;
  font-size: 39.2px;
  font-family: 'Dosis', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
}

.center {
  height: 100px;
  background-color: #fff;
  width: 350px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  background-color: #fff;
  color: #333;
  position: relative;
  top: 0;
  transition: all 0.2s;
}

.center:hover {
  position: relative;
  top: -15px;
  box-shadow: 0 18px 10px -4px rgb(0 0 0 / 15%);
}

.row5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-2 {
  height: 56px;
  width: 28%;
  color: #888;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}
.center:hover .icon-2 {
  color: lightgreen;
}

.icon-4 {
  height: 56px;
  width: 28%;
  color: #888;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

.center:hover .icon-4 {
  color: rgb(173, 173, 173);
}

.icon-5 {
  height: 56px;
  width: 28%;
  color: #888;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

.center:hover .icon-5 {
  color: blue;
}

.download {
  font-family: 'Dosis', 'Helvetica', Arial, sans-serif;
  font-weight: 600;
  font-size: 22.4px;
  margin: 25px 0 0;
  padding: 0 0 4px;
}

.download2 {
  margin-top: 5px;
  font-size: 15px;
  color: #6c757d;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
}

.col-last {
  width: 70%;
}

.icon-3 {
  color: white;
  padding: 7px 18px;
  cursor: pointer;
}

.last-text {
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  line-height: 1.5em;
  margin-top: 1rem;
  text-align: center;
  color: white;
}

.inside-box {
  max-width: 1140px;
  margin: auto;
  padding: 70px 0;
}
