* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.box {
  width: 100%;
  min-height: 100px;
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cuadrado {
  margin: 5%;
  width: 20%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  align-items: center;
}

.crece {
  cursor: pointer;
  background-color: red;
}
.crece:hover {
  animation-name: crece;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.late {
  cursor: pointer;
  background-color: aqua;
}

.late:hover {
  animation-name: late;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.gira {
}

.sombra {
}

@keyframes crece {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes late {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
