/* 
Etiqueta
Clase
Identificador 
*/

h1 {
  color: red;
}

#primero {
  padding: 5px;
  background-color: black;
}

div {
  font-size: 40px;
  color: black;
}

.hijo {
  color: aliceblue;
  margin: 5px;
}

.sunset {
  width: 30%;
  height: 40%;
}

.columna {
  background-color: gray;
  width: 50%;
}
