* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(210, 210, 170);
}

h1,
h2 {
  margin: 0;
}

.circulo {
  /* cursor: url('icons8-cursor-96.png'), auto; */
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 100%;
  position: fixed;
}
