* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

/* 

  Prueba

  Proyecto Final


      Javascript/ Jquery 

      - HTML --> Lenguaje de maquetacion
      - CSS --> Lenguaje de estilo
      - JS --> lenguaje de programación -> Algoritmo

      
*/

.color-red {
  color: red;
}

.grid {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 10px 10px;
}

.cuadrado {
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.rotar {
  animation-name: rotacion;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
