* {
  box-sizing: border-box;
}

body {
  margin: auto ;
max-width: 1300px;

  background-color: rgb(36, 36, 36);
  color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/*
 
--theme-color: #14bfb5;
background-color: rgb(32, 31, 31);
01 Adobe Design Tools
02 HTML5 Y CSS3
03 Experiencia Usuario (UX)
04 Interfaces Gráficas (UI)
05 After Effects
06 Cinema 4D
07 Dirección de Arte
08 Product Design
*/

/*

Aqui va el media de la web
*/

@media (width: 1200px) {
 .menu-button{
  width: 100px;
  height: 90px;
 }
  
}

@media (max-width: 990px) {
}

@media (max-width: 720px) {
  .first-web-box{
    width: 99%;

   
  }
  .name{
    font-size: 30px;
  }
}

.topm{
  margin-top: 30px;
}
.logo-box{
  margin-top: 15px;
  margin-left:50px;

}
.menu-desplegable{

}

.logo{
padding-left: 20px;
}




.first-row {
 
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  width: 50px;
}

.contact-box {
  width: 120px;
  border: 3px solid #14bfb5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  border-radius: 10%;
}

.contact-box:hover {
  background-color: #14bfb5;
}

.first-web {
  max-width: 1300px;
  width: 100%;
  min-height: 74vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.menu-button {
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.menu-circle {
  width: 110px;
  height: 100px;
  border: 3px #14bfb5 solid;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  cursor: pointer;
}

.menu-circle:hover {
  background-color: #12b1a6;
}

/* Esto es el width del menu */

.gg-menu {
  color: white;
  width: 30px !important;
  
}

.gg-menu::after {
  width: 30px !important;
}
.gg-menu::before {
  width: 30px !important;
}



.welcome-box{
  width: 50%;
  height: 100%;
  color: white;
  font-size: 30px;
 padding-top: 70px;
 line-height: 60px;
 background-color: rgb(36, 36, 36);
}
.button-box{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 50%;
margin-top: 30px;
}

.hire-me{
  width: 100px;
  height: 100%;
  border: #14bfb5 3px solid;
  border-radius: 10%;
 
  text-align: center;
 
  font-size: 20px;
}

.download-cv{
  width: 150px;
  height: 50%;
  border: #14bfb5 3px solid;
  border-radius: 10%;
 
  text-align: center;

  font-size: 20px;
}



