* {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 4, 56);
  color: white;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  min-height: 150vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/*
 
--theme-color: #14bfb5;
background-color: rgb(32, 31, 31);
01 Adobe Design Tools
02 HTML5 Y CSS3
03 Experiencia Usuario (UX)
04 Interfaces Gráficas (UI)
05 After Effects
06 Cinema 4D
07 Dirección de Arte
08 Product Design
*/

.topm {
  margin-top: 40px;
}
.logo-box {
  margin-top: 15px;
  margin-left: 50px;
}
.menu-desplegable {
  width: 55%;
  height: 100vh;
  background-color: #4f0044;
  position: fixed;
  left: 23%;
  z-index: 10;
  top: 0;
}

.blocked {
  display: none;
}
.activo {
  display: block;
}
.margin-box {
  margin: auto;
  max-width: 1350px;
  width: 100%;
}
.logo {
  padding-left: 20px;
}

.first-row {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-button {
  width: 50px;
}

.contact-box {
  width: 120px;
  border: 3px solid #ffffff;
  height: 100%;
  
  
  color: white;
  cursor: pointer;
  border-radius: 10%;
  display: none;
}
.contact-box:hover {
  box-shadow: 0px 1px 2px rgb(162, 0, 255), 0px 2px 8px rgb(162, 0, 255),
    0px 4px 15px rgb(162, 0, 255), 0px 8px 20px rgb(162, 0, 255);
}

.first-web {
  width: 100%;
  min-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.center-contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

.menu-circle {
  width: 110px;
  height: 100px;
  border: 3px #ffffff solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  cursor: pointer;
}

.menu-circle:hover {
  box-shadow: 0px 1px 2px rgb(162, 0, 255), 0px 2px 8px rgb(162, 0, 255),
    0px 4px 15px rgb(162, 0, 255), 0px 8px 20px rgb(162, 0, 255);
}
.lilhover {
  transition: all 0.7s;
  transform-origin: center;
}
.lilhover:hover {
  background-color: rgb(17, 3, 49);
  transform: scale(115%);
}

.lilhover2:hover {
  background-color: rgb(17, 3, 50);
  transform-origin: 100%;
  transition: all 0.3s;
  box-shadow: 0px 1px 2px rgb(162, 0, 255), 0px 0px 3px rgb(162, 0, 255),
    0px 2px 5px rgb(227, 194, 246), 0px 6px 10px rgb(162, 0, 255),
    0px -7px 12px rgb(162, 0, 255);
  color: white;
}


.welcome-box {
  width: 50%;
  height: 100%;
  
  font-size: 30px;
  padding-top: 70px;
  line-height: 70px;
  border: #fff 3px solid;
  background-color: rgb(12, 2, 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 15px;
  padding-bottom: 20px;
}

.neon-text {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0 0 0px #620279, 0 0 0px #b800e6, 0 0 10px #b800e6,
    0 0 20px #b800e6, 0 0 30px #b800e6, 0 0 10px #b800e6, 0 0 8px #b800e6;
  text-align: center;
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 71%;
  margin-top: 30px;
}

.hire-me {
  width: 140px;
  height: 100%;
  border: #ffffff 3px solid;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;

  font-size: 20px;
}

.download-cv {
  width: 170px;
  height: 50%;
  border: #ffffff 3px solid;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5;
  transform-origin: 0%;
  font-size: 20px;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-box {
  height: 100px;

  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-burger {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.services {
  white-space: nowrap;

  font-size: 60px;

  border-radius: 10px;
  padding: 10px;
}

.neon-box2 {
  margin-top: 60px;
}
h4 {
  font-size: 23px;
}
.column2 {
  width: 19%;
  border: rgb(12, 2, 36) 3px solid;
  border-radius: 15px;
  background-color: rgb(12, 2, 36);
  cursor: pointer;
}

.column2:hover {
  box-shadow: 0px 1px 2px rgb(162, 0, 255), 0px 2px 8px rgb(162, 0, 255),
    0px 4px 15px rgb(162, 0, 255), 0px 8px 20px rgb(162, 0, 255);
  border: #fff 3px solid;
}
.modules {
  font: size 50px;
}
.heading-tools {
  text-align: center;
  font-size: 40px;
}
.bc {
  margin-bottom: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  flex-wrap: wrap;
}

.column {
  width: 23%;
  border: rgb(12, 2, 36) 3px solid;
  border-radius: 15px;
  background-color: rgb(12, 2, 36);
  cursor: pointer;
}

.column:hover {
  box-shadow: 0px 1px 2px rgb(162, 0, 255), 0px 2px 8px rgb(162, 0, 255),
    0px 4px 15px rgb(162, 0, 255), 0px 8px 20px rgb(162, 0, 255);
  border: #fff 3px solid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.bar{
  font-size: 40px;
  text-shadow: 0 0 0px #620279, 0 0 0px #b800e6, 0 0 10px #b800e6,
    0 0 20px #b800e6, 0 0 30px #b800e6, 0 0 10px #b800e6, 0 0 8px #b800e6;
}
.menu-titles{
  font-size: 30px;
  margin: 70px;
  color: #ffffff;
  text-shadow: 0 0 0px #620279, 0 0 0px #b800e6, 0 0 10px #b800e6,
    0 0 20px #b800e6, 0 0 30px #b800e6, 0 0 10px #b800e6, 0 0 8px #b800e6;
}
.mrgn {
  margin-top: 8px;
}
.info-modules {
 text-align: center;
  padding: 5px;
}
.pad{
  padding: 4px;
}


.ww {
  width: 23% !important;
}
.icon-box {
  width: 30%;
  height: 65px;

  margin-top: 10px;
}
.icon-box2 {
  display: flex;
  width: 30%;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 20%;
}
.img-mrg {
  margin-right: 6px;
}

@media (max-width: 1300px) {
  .menu-button {
    width: 100px;
    height: 90px;
  }
  .first-web {
    max-width: 1200px;
    width: 100%;
  }
  .margin-box {
    max-width: 1200px;
    width: 100%;
  }
}

@media (max-width: 830px) {
  .first-web-box {
    width: 99%;
  }
  h2 {
    font-size: 42px;
  }
  .services {
    font-size: 45px;
  }
  .download-cv {
    width: 140px;

    border-radius: 8px;
    font-size: 20px;
    padding: 0px 3px;
  }
  .welcome-box {
    width: 70%;
  }

  .button-box {
    justify-content: space-around;
    width: 500px;
  }

  .topm {
    margin-left: 40px;
    margin-right: 40px;
  }

  .column{
    width: 100%;
  }
  .contact-box{
    display: block;
  }
.first-row{
  justify-content: space-around;
}
.menu-button{
  display: block;
}

.menu-titles{
  display: none;
}
.bar{
  display: none;
}
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
  .icon-box,
  .icon-box2 {
    width: 100%;
    height: auto;
  }
  .icon-box2 {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width: 480px) {
  .info-modules {
    font-size: 14px;
  }
}






