* {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.mj {
  padding-left: 10px;
  border-bottom: 1px solid black;
}

.padding {
  padding: 10px;
}

#text {
  width: calc(100% - 400px);
  float: left;
  padding: 10px;
}

.rightbox {
  height: 100%;
  border: 1px solid gray;
  width: 400px;
  /* margin-right: 40px; */
  float: right;
  padding: 5px;
  background-color: #f8f9fa;
}

h2 {
  padding: 5px;
}

.textinbox {
  background-color: #cccc88;
  padding: 5px;
}

h4 {
  background-color: #cccc88;
  margin-top: 6px;
}

#boldindice {
  font-weight: bolder;
  text-align: center;
}

.boxindice {
  border: 1px solid gray;
  width: 300px;
  background-color: #f8f9fa;
}

.space {
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 95%;
}

.image img {
  width: 273px;
  height: 389px;
}
.image {
  text-align: center;
}

.smalljord {
  font-size: small;
}

.datospersonales {
  text-align: center;
  background-color: #cccc88;
  font-weight: bold;
  margin-top: 4px;
}

.lefttext {
  text-align: left;

  font-size: small;
}

.fila-datos {
  overflow: hidden;
}

.x10 {
  width: 50%;
  float: left;
  font-weight: bold;
}

.x11 {
  width: 50%;
  float: left;
}

.list {
  word-spacing: 3px;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}

.datospersonales2 {
  text-align: center;
  background-color: #faf0e6;
  font-weight: bold;
  font-size: medium;
}

#title {
  padding-left: 10px;
  padding: 5px;
  border-bottom: 1px solid black;
  margin-top: 15px;
  font-size: 25px;
}
