* {
  box-sizing: border-boxs;
}

body {
  margin: 0;
  margin-left: 35px;
}

#title {
  font-weight: 600;
  padding: 20px;
  font-size: large;
}

.father {
  height: 100%;
}

#red-box {
  width: 750px;
  height: 500px;
  background-color: red;
  float: left;
}

#blue-box {
  height: 250px;
  width: 250px;
  background-color: blue;
  float: left;
}

#green-box {
  height: 250px;
  width: 250px;
  background-color: green;
  float: left;
}

#yellow-box {
  height: 250px;
  width: 250px;
  background-color: yellow;
  float: left;
}

.inv-box {
  width: 250px;
  height: 250px;
}

.pink-box {
  width: 250px;
  height: 75px;
  background-color: pink;
}

.purple-box {
  width: 250px;
  height: 650px;
  background-color: purple;
}

.orange-box {
  width: 1000px;
  height: 75px;
  background-color: orange;
}

.biginv-box {
  height: 900px;
  width: 100%;
}
