/*  */
* {
  color: rgb(0, 225, 254);
}
/*  */
img {
  width: 500px;
  height: 600px;
}
.resaltado {
  color: rgb(42, 242, 35);
  background-color: rgb(97, 97, 98);
  padding: 15px;
  width: 50%;
  height: 80px;
}
.principal {
  border: 10px solid black;
  width: 50%;
}
#elementosecundario {
  color: purple;
}
